
.container{
    .nav-left {
        min-width: 180px;
        height: calc(100vh);
        background-color: cyan;
    }
    .main{
        flex: 1;
        height: calc(100vh);
    }

    .content {
        position: relative;
        padding: 10px;
    }
}